.location {
    display: flex;
    justify-content: center;
    background-color: #eaeaea;
    height: 50px;
    & input {
        border: none;
        background-color: #eaeaea;
        text-align: center;
    }
    & form {
        margin-top: 12px;
    }
    & i {
        position: relative;
        left: 19px;
    }
    & p {
        font-size: 16px;
        font-weight: 600;
        color: #353535;
    }
}

input:focus, textarea:focus
{
    border: none;
    outline-offset: 0px;
    outline: none;
}


/****** First Section ***********/

.first-section {
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    text-align: center;
    background: #eeeeee94;
    & a {
        color: white;
    }
    & h2 {
        font-size: 24px;
        font-weight: 700;
        padding-top: 20px;
        padding-left: 50px; 
        padding-right: 50px;
        margin-bottom: 0px;
    }
    & p {
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 0px;
        margin-bottom: 35px;
        font-size: 18px;
        font-weight: 300;
    }
}


/****** Section Fonctionnement ***********/

.second-section h2 {
    padding-left: 20px;
    margin-top: 48px;
    font-size: 24px;
    font-weight: 700;
}

.second-section i {
    color: grey;
}

.steps-container {
    display: flex;
    flex-direction: column;
}


.grey-button i {
    margin-top: 23px;
    margin-right: 25px;
}

.grey-button p {
    font-size: 16px;    
    font-weight: 600;
}

.step-number {
    border-radius: 50%;
    background-color: #9356dc;
    color: white;
    position: relative;
    right: 19px;
    height: 25px;   
    margin-top: 21px;
    padding: 2px 10px;
  & p {
        margin-top: -4px;
    }
}


/****** Section Restaurants ***********/

.restaurants-section {
    background-color: #eeeeee94;
    margin-top: 68px;
    padding-bottom: 66px;
    & h2 {
        margin-left: 20px;
        padding-top: 54px;
    }
    & h3 {
        font-size: 18px;
        font-weight: 700;
        padding-left: 13px;
        margin-top: 16px;
        margin-bottom: 0px;
    }
    & p {
        font-size: 17px;
        font-weight: 300;
        padding-left: 13px;
        margin-top: 5px;
        margin-bottom: 12px;
        @media screen {
            
        }
    }
}


.restaurants-cards {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    height: 251px;
    width: 96%;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin-left: 17px;
    margin-right: 18px;
    margin-bottom: 18px;
     &:hover {
        transform: scale(1.010);
        transition: ease-in-out 0.3s;
        cursor: pointer;
    }
     & span {
        position: absolute;
        background-color: #99E2D0;
        color: #008766;
        text-align: center;
        width: 80px;
        height: 25px;
        top: 15px;
        right: 15px; 
        padding-top: 5px;
        font-size: 14px;
        font-weight: 500;
    }
     & img {
        object-fit: cover;
        width: 100%;
        height: 174px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
}


.restaurants-cards-content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.restaurants-cards-content-icon i {
    position: absolute;
    right: 27px;
    bottom: 27px;  
    color: black;
}

.my-heart-full {
    opacity: 0;
    transition-property: all;
    transition-duration: 100ms;
 &:hover {
    opacity: 1;
    color: transparent;
    background-image: linear-gradient($pinky-color, $purply-color);
    background-clip: text;
}
 &::after {
    opacity: 1;
    color: transparent;
    background-image: linear-gradient($pinky-color, $purply-color);
    background-clip: text;
}
}










/****** Media queries ***********/
/* Medium devices (tablette, +/equal than 768 px) */
@media (min-width: 768px) {

    .body-container {
        max-width: 1600px;
        width: 100%;
    }
    
    .first-section h2 {
        font-size: 30px;
    }
    
    .steps-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .second-section h2 {
        text-align: center;
    }
    
    .restaurants-section h2 {
        text-align: center;
    }
    
    .restaurants-section-cards {
        margin-left: 18%;
        margin-right: 18%;
    }
    
    
    
    }
    
    /* larger screen devices (desktop, +/equal than 1024px)) */
    @media (min-width: 1024px) {
    
    .first-section h2 {
        font-size: 40px;
    }    
    
    .second-section h2 {
        text-align-last: left;
        padding-left: 184px;
    }
    
    .restaurants-section {
        padding-bottom: 30px;
    }
    
    .restaurants-section h2 {
        text-align-last: left;
        padding-left: 184px;
        margin-left: 0px;
        margin-bottom: 28px;
    }
    
    .restaurants-section-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 50px 70px;
        margin-left: 180px;
        margin-right: 180px;
    }

    .restaurants-cards {
        margin-left: 0px;
        margin-right: 0px;
    }
    
    
    
    }