
.main-picture img {
    object-fit: cover;
    height: 295px;
    width: 100%;
@media (min-width: 768px) {
    height: 320px;
}
@media (min-width: 1024px) {
    height: 390px;
}
}

.main-title {
    display: flex;
    justify-content: space-between;
    max-width: 1055px;
    border-top-left-radius: 40px 34px;
    border-top-right-radius: 40px 40px;
    background-color: #f6f6f6;
    transform: translateY(-80px);
    & h1 {
        font-family: Shrikhand;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        padding-left: 15px;
    }
    & i {
        position: absolute;
        right: 27px;
        bottom: 27px; 
    }
    @media (min-width: 768px) {
        justify-content: center;
        padding-left: 20%;
        padding-right: 20%;
        & i {
            align-items: center;
            right: 30%;
            bottom: 27px;
        }
    }    
    @media (min-width: 1024px) {
        padding-left: 18%;
        padding-right: 18%;
        margin-left: 192px;
        margin-right: 192px;
        & i {
            right: 27%;
    }
}
}

.starter {
    padding-top: 40px;
    padding-left: 15px;
}

.menu-style {
     & h2 {
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 7px;
}
@media (min-width: 1024px) {
    margin-left: 20%;
    margin-right: 20%;
}
}

.menu {
    background-color: #f6f6f6;
    margin-top: -99px;
    @media (min-width: 1024px) {
    margin-left: 192px;
    margin-right: 192px;
    }
}

.menu-underline {
    width: 27px;
    height: 3px;
    background-color: #99e2d0;
    margin: 0;
    padding-left: 15px;
    
}

.menu-cards {
    background-color: white;
    box-shadow: 2px 2px 2px lightgrey;
    border-radius: 20px 20px;
    height: 69px;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: all 2000ms;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-cards-txt {
    & h3 { 
        margin-top: 10px;
        margin-bottom: 5px;
        margin-left: 20px;
        overflow: hidden;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
}  
    & p {
        margin-top: 0px;
        margin-bottom: 5px;
        margin-left: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 15px;
        font-style: normal;
        font-weight: 300;
    }
}

.menu-cards-txt-infos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
    
.menus-cards-txt-infos-price {
    right: 5px;
}