* {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
}

.body-container {
    width: 100%;
    max-width: 1440px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}