.button {
    background: linear-gradient(182deg, #ff79da, #9356dc);
    color: white;
    font-size: large;
    padding: 20px;
    border-radius: 50px;
    border: none;
    margin-bottom: 57px;
    box-shadow: 4px 4px 2px lightgrey;
    width: 240px;
    align-self: center;
    transition: 250ms;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.030);
    transition: ease-in-out 0.3s;
}

.grey-button {
    display: flex;
    flex-direction: row;
    background-color: #f6f6f6;
    margin-left: 35px;
    margin-top: 25px;
    margin-right: 20px;
    padding: 5px;
    box-shadow: 0px 4px 15px 0px lightgrey;
    border-radius: 20px 20px;
    text-align: center;
    height: 72px;
    width: 322px;
    line-height: 33px;
    white-space: nowrap;
}

.grey-button:hover {
    background-color: white;
    transform: scale(1.030);
    transition: ease-in-out 0.3s;
}

.grey-button:hover i {
    color: #9356dc;
}
