* {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
}

.body-container {
    width: 100%;
    max-width: 1440px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/****** Header (DONE) ***********/

.header {
    box-shadow: 0px 5px 5px lightgrey;
    margin-bottom: 5px;
    text-align: center;
    height: 63px;
}

.header img {
    width: 162px;
    height: 32px;
}

.logo {
    margin-top: 20px;
}

/****** Location Section ***********/

.location {
    display: flex;
    justify-content: center;
    background-color: #eaeaea;
}

.location p {
    font-size: 16px;
    font-weight: 600;
    color: #353535;
}

.location i {
    padding-right: 17px;
}

/****** First Section ***********/

.first-section {
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    text-align: center;
    background: #eeeeee94;
}

.first-section a {
    color: white;
}

.first-section h2 {
    font-size: 24px;
    font-weight: 700;
    padding-top: 20px;
    padding-left: 50px; 
    padding-right: 50px;
    margin-bottom: 0px;
}

.first-section p {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 0px;
    margin-bottom: 35px;
    font-size: 18px;
    font-weight: 300;
}

.button {
    background: linear-gradient(182deg, #ff79da, #9356dc);
    color: white;
    font-size: large;
    padding: 20px;
    border-radius: 50px;
    border: none;
    margin-bottom: 57px;
    box-shadow: 4px 4px 2px lightgrey;
    width: 240px;
    align-self: center;
    transition: 250ms;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.030);
    transition: ease-in-out 0.3s;
}

/****** Section Fonctionnement ***********/

.second-section h2 {
    padding-left: 20px;
    margin-top: 48px;
    font-size: 24px;
    font-weight: 700;
}

.second-section i {
    color: grey;
}

.steps-container {
    display: flex;
    flex-direction: column;
}

.grey-button {
    display: flex;
    flex-direction: row;
    background-color: #f6f6f6;
    margin-left: 35px;
    margin-top: 25px;
    margin-right: 20px;
    padding: 5px;
    box-shadow: 0px 4px 15px 0px lightgrey;
    border-radius: 20px 20px;
    text-align: center;
    height: 72px;
    width: 322px;
    line-height: 33px;
    white-space: nowrap;
}

.grey-button:hover {
    background-color: white;
    transform: scale(1.030);
    transition: ease-in-out 0.3s;
}

.grey-button:hover i {
    color: #9356dc;
}

.grey-button i {
    margin-top: 23px;
    margin-right: 25px;
}

.grey-button p {
    font-size: 16px;    
    font-weight: 600;
}

.step-number {
    border-radius: 50%;
    background-color: #9356dc;
    color: white;
    position: relative;
    right: 19px;
    height: 25px;   
    margin-top: 21px;
    padding: 2px 10px;
}

.step-number p {
    margin-top: -4px;
}

/****** Section Restaurants ***********/

.restaurants-section {
    background-color: #eeeeee94;
    margin-top: 68px;
    padding-bottom: 66px;
}

.restaurants-section h2 {
    margin-left: 20px;
    padding-top: 54px;
}

.restaurants-section h3 {
    font-size: 18px;
    font-weight: 700;
    padding-left: 13px;
    margin-top: 16px;
    margin-bottom: 0px;
}

.restaurants-section p {
    font-size: 17px;
    font-weight: 300;
    padding-left: 13px;
    margin-top: 5px;
    margin-bottom: 12px;
}

.restaurants-cards {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    height: 251px;
    width: 96%;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin-left: 17px;
    margin-right: 18px;
    margin-bottom: 18px;
}

.restaurants-cards:hover {
    transform: scale(1.010);
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

.restaurants-cards span {
    position: absolute;
    background-color: #99E2D0;
    color: #008766;
    padding-top: 7px;
    padding-right: 9px;  
    padding-bottom: 7px;
    padding-left: 9px;
    right: 5px; 
    margin-right: 12px;
    margin-top: 13px;
    font-size: 14px;
    font-weight: 500;
}

.restaurants-cards img {
    object-fit: cover;
    width: 100%;
    height: 174px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.restaurants-cards-content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.restaurants-cards-content-icon i {
    position: absolute;
    right: 27px;
    bottom: 27px;
}


/****** Footer (DONE) ***********/

.footer-section {
    background-color: #353535;
    color: white;
    padding-left: 25px;
    padding-top: 22px;
    padding-right: 25px;
    padding-bottom: 22px;
}

.footer-section i {
    padding-right: 10px;
}

.footer-elements {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-elements a {
    color: white;
}

.footer-elements a:hover {
    color: #9356dc;
}

.footer-elements span {
    font-family: Shrikhand;
    font-size: 18px;
    font-weight: 400;
}


/****** Media queries ***********/
/* Medium devices (tablette, +/equal than 768 px) */
@media (min-width: 768px) {

.body-container {
    max-width: 1600px;
    width: 100%;
}

.first-section h2 {
    font-size: 30px;
}

.steps-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.second-section h2 {
    text-align: center;
}

.restaurants-section h2 {
    text-align: center;
}

.restaurants-section-cards {
    margin-left: 18%;
    margin-right: 18%;
}

.footer-section {
    text-align: center;
}

}

/* larger screen devices (desktop, +/equal than 1024px)) */
@media (min-width: 1024px) {

.first-section h2 {
    font-size: 40px;
}    

.second-section h2 {
    text-align-last: left;
    padding-left: 234px;
}

.restaurants-section {
    padding-bottom: 30px;
}

.restaurants-section h2 {
    text-align-last: left;
    padding-left: 234px;
    margin-left: 0px;
    margin-bottom: 28px;
}

.restaurants-section-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px 100px;
    margin-left: 180px;
    margin-right: 180px;
}

.footer-section {
    text-align: end;
}
.footer-elements {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 10px;
    margin-top: 40px;
}

.footer-elements span {
    order: 5;
    padding-left: 60px;
}

}